altair==4.0.1
aniso8601==8.0.0
astroid==2.4.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
boto3==1.13.8
botocore==1.16.8
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.10.0
jsonpickle==1.4.1
jsonschema==3.2.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
numba==0.48.0
numpy==1.18.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow==8.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
py4j==0.10.7
pyarrow==0.16.0
Pygments==2.6.1
pylint==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
requests==2.23.0
s3transfer==0.3.3
scipy==1.4.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
terminado==0.8.3
testpath==0.4.4
thrift==0.13.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
webdriver-manager==2.3.0
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
